* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.gridSquare {
    border: 1px solid black;
    text-align: center;
    font-size: 90px;
}

.gameboardContainer {
    display:grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    border: 5px solid black;
    border-radius:3px;
    width: 60%;
    height: 360px;
    margin: 3em 0 5em 0;
    max-width: 360px;
}

.startScreen {
    display:flex;
    height: 90vh;
    width: 100vw;
    padding: 1px;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 99;
    flex-wrap: wrap;
    background-color: #fff;
    justify-content: center;
    padding-top: 5%;
}

.title {
    font-size: 4em;
    text-align: center;
    margin-bottom: 5%;
}

.box {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    height: 100px;
    min-width: 100px;
}

.startButton {
    width: 15%;
}

.buttonContainer {
    width: 90%;
    display:flex;
    justify-content: center;
}


.avatar {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    background-color: #fff;
}

.nameContainer {
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blank {
    width: 90px;
    height: 94px;
}

.avatar:hover {
    background-color: red;
}

.blank:hover {
    background-color: inherit;
}

.startButton {
    width: 10rem;
    height: 2rem;
}

.mainGameContainer {
    display:flex;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.resetButton {
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    background-color: #457b9d;
}

.win_message {
    width: 99%;
    text-align: center;
    padding: 2rem;
    font: 16px;
}

.playerInformation {
    width: 16%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8rem 1rem 0 1rem;
}

.playerName {
    padding: 10px;
    margin: 10px;
}